.Counter{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.buttons{
    display: flex;
    gap: 1rem;
    margin-top: 20px;
}

button{
    padding: 10px 15px;
    font-size: 2em;
    font-weight: bold;
    width: 5rem;
    cursor: pointer;
    border: 1px solid #2e2200;
    border-radius: 5px;
    background-color: #a8ff6e;
    transition: background-color 1s;
}

button:hover{
    background-color: #e0ff6e;
}

p{
    font-size: 2em;
    font-weight: bold;
}