
:root{
    --main-color: #b8eff1;
    --primary-color: #fff27a;
    --secondary-color: #af8000;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: var(--main-color);
}

/* Sesión del aside */
.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.title{
    font-weight: bold;
    font-size: 1em;
}

.aside-container{
    background-color: var(--primary-color);
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.aside-container .profile{
    width: 90%;
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.aside-container .profile span{
    margin-top: 0.90em;
}

.aside-container .profile img{
    width: 200px;
    border-radius: 50%;

}

    /*Sesión de información */
.aside-container .information{
    display: flex;
    width: 100%;
    padding: 0 9px;
    margin-top: 3em;
    justify-content: space-between;
}

.information .row1{
    display: flex;
    flex-direction: column;
}

.information .row1 span{
    text-align: start;
}

.information .row2{
    display: flex;
    flex-direction: column;
}

.information .row2 span{
    text-align: end;
}


    /* Sesión de lenguajes */
.aside-container .languages,
.aside-container .programming-languages{
    margin-top: 2em;
    padding: 0 9px;
    width: 100%;
}

.languages .language,
.programming-languages .language{
    width: 100%;
    margin: 8px 0;
    display: flex;
    flex-direction: column;
}

.languages .language .item,
.programming-languages .language .item{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.languages .language .progress-bar,
.programming-languages .language .progress-bar{
    width: 100%;
    height: 5px;
    border-radius: 4px;
    border: var(--secondary-color) solid 1px;
}

.languages .language .spanish{
    background:  var(--secondary-color);
}


.languages .language .english{
    background: linear-gradient(to right, var(--secondary-color) 50%, transparent 50%);
}

    /* Sesión de lenguajes de programación */
.programming-languages .language .html{
    background: linear-gradient(to right, var(--secondary-color) 80%, transparent 20%)
}

.programming-languages .language .css{
    background: linear-gradient(to right, var(--secondary-color) 90%, transparent 10%)
}

.programming-languages .language .javascript{
    background: linear-gradient(to right, var(--secondary-color) 30%, transparent 70%)
}

.programming-languages .language .c{
    background: linear-gradient(to right, var(--secondary-color) 60%, transparent 40%)
}

.programming-languages .language .lua{
    background: linear-gradient(to right, var(--secondary-color) 90%, transparent 10%)
}

    /* Sesión de skill */
.aside-container .skill{
    width: 100%;
    margin: 2em 0;
    padding: 0 8px;
}

.aside-container .skill ul li{
    margin: 9px 0;
    list-style-type: circle;
}



/* Contenido central */
.main-content{
    width: 70%;
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

    /* Banner */
.main-content .banner{
    width: 95%;
    height: 400px;
    background-color: #fff;
    padding: 0 0.9em;
    display: flex;
    margin-top: 10px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.main-content .banner .texts{
    width: 50%;
    display: flex;
    flex-direction: column;
}

.main-content .banner .texts span{
    color: var(--secondary-color);
}

.banner .texts .title{
    font-size: 2em;
}

.banner .texts p,
.banner .texts button{
    margin-top: 1em;
}

.banner .texts button{
    width: 150px;
    height: 40px;
    background-color: var(--secondary-color);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    color: #fff;
}

.banner .image{
    width: 40%;
    height: 95%;
    background: url(../images/avatar.jpeg) no-repeat center;
    background-size: cover;
    
}

    /* Sesión de Knowledge */
.main-content .knowledge,
.main-content .education,
.main-content .porfolio{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.knowledge > .title,
.education > .title,
.porfolio > .title{
    font-size: 2em;
}

.knowledge > p,
.education > p,
.porfolio > p{
    width: 50%;
    margin-top: 1em;
}

.knowledge .cards{
    margin-top: 1em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.knowledge .cards .card{
    width: 200px;
    height: 150px;
    background-color: #fff;
    margin: 10px;
    padding: 5px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.knowledge .cards .card i{
    font-size: 3em;
    color: var(--secondary-color);
}

    /* Sesión de Education */
.main-content .education .cards,
.main-content .porfolio .cards{
    padding: 15px;
    margin-top: 3em;
    width: 95%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
}

.education .cards .card{
    display: flex;
    margin: 10px 0;
    flex-direction: row;
    justify-content: space-between;
}

.education .cards .card .course{
    width: 40%;
    display: flex;
    flex-direction: column;
    padding: 5px;
    justify-content: space-between;
}

.education .cards .card .course section{
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    font-size: 0.60em;
    align-items: center;
}

.education .cards .card .course section .date{
    background-color: var(--primary-color);
    padding: 5px;
    margin-left: 15px;
}

.education .cards .card .description{
    width: 70%;
}


    /* sesión de porfolio */
.main-content .porfolio .cards{
    margin-top: 3em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: transparent;

}

.main-content .porfolio .cards .card{
    width: 30%;
    margin: 0 9px;
    background-color: #fff;
}

.main-content .porfolio .cards .card .image{
    width: 100%;
    height: 150px;
    background: url(../images/Love2d.jpg) center no-repeat;
    background-size: cover;
    margin: 2em 0;
}

.main-content .porfolio .cards .card .info{
    padding: 1em;
}

.main-content .porfolio .cards .card a{
    color: var(--secondary-color);
    margin-top: 2em;
}

    /* Pie de pagina */
footer{
    padding: 1em;
    background-color: #fff;
    width: 100%;
    text-align: center;
}


/* aside */
aside{
    width: 5%;
    background: #fff;
    padding-top: 0.80em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

aside .social-network{
    margin-top: 1em;
    display: flex;
    flex-direction: column;
}

aside .social-network .red{
    margin: 0.60em 0;
    width: 40px;
    height: 40px;
    font-size: 1.50em;
    background-color: var(--primary-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
